*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    text-align: center;
    margin: 10px;
}

.top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-completed, .top-inprogress, .top-pending{
    width: 50px;
    height: 50px;
    border-radius: 35px;
}

.top-completed{
    color: white;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    background-color: rgb(0, 255, 98);
    border: 8px solid rgb(0, 191, 22);
}


.top-inprogress{
    background-color: rgb(21, 119, 255);
    border: 8px dashed rgb(0, 61, 184);
}

.top-pending{
    background-color: rgb(153, 180, 255);
    border: 8px solid rgb(211, 219, 255);
}

.top-line, .top-line-2{
    width: 120px;
    height: 5px;
    border-radius: 5px;
    margin: 0 20px;
}

.top-line{
    background-color: rgb(0, 255, 98);
}

.top-line-2{
    background-color: rgb(153, 180, 255);
}

.top-subline{
    background-color: rgb(0, 102, 255);
    width: 50%;
    height: 5px;
    border-radius: 5px;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 15px;
    gap: 110px;
}

.step{
    font-size: 12px;
    color: gray;
}

.bottom-title{
    font-weight: 600;
}

.bottom-txt{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}

.bottom-completed > .bottom-txt{
    color: rgb(0, 191, 22);
}
.bottom-inprogress > .bottom-txt{
    color: rgb(0, 98, 255);
}
.bottom-pending > .bottom-txt{
    color: rgb(168, 168, 168);
}