*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    background-color: #fff;
    transition: background-color 0.5s ease;
}

body:has(#cb:checked) {
    background-color: #222;
}

.toggle-btn{
    transition: all 0.3s ease;
}

.toggle-btn{
    margin: auto;
    text-align: start;
    width: 100px;
    font-size: 24px;
    margin-top: 430px;
    background-color: darkgrey;
    border: 2px solid rgb(133, 133, 133);
    border-radius: 15px;
    box-shadow: 0px 3px grey;
}

label{
    cursor: pointer;
    user-select: none;
}
.light { display: inline; }
.dark { display: none; }

body:has(#cb:checked) .light {
    display: none;
}

body:has(#cb:checked) .dark{
    display: inline;
}

body:has(#cb:checked) *{
    color: white;
}

body:has(#cb:checked) .toggle-btn{
    padding-left: 65px;
    border: 2px solid rgb(9, 9, 91);
    background-color: darkblue;
    box-shadow: 0px -3px blue;
}

p{
    width: 300px;
    margin: auto;
    text-align: center;
}