/* #modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
  position: relative;
  background-color: white;
  padding: 4em 2em;
}

.modal__close {
  position: absolute;
  top: -30px;
  right: 0;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-btn{
    margin-top: 400px;
    background-color: greenyellow;
    color: green;
    font-size: 24px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgb(3, 54, 0);
}


#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.581);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{

}

#modal:not(:target){
    display: none;
}