/* #modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__window {
  position: relative;
  background-color: white;
  padding: 4em 2em;
}

.modal__close {
  position: absolute;
  top: -30px;
  right: 0;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-btn{
    margin-top: 400px;
    color: rgb(41, 0, 128);
    font-size: 24px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgb(62, 28, 119);
}


#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.581);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.modal-head{
    display: flex;
    justify-content: space-between;
}

.modal-close{
    margin-top: -10px;
    text-decoration: none;
    font-size: 26px;
    font-weight: 800;
    color: black;;
}

.modal-body{
    line-height: 20px;
    text-align: center;
}

.modal-body-txt{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    color: gray;
    text-align: start;
}

.modal-form input{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.submit-btn{
    width: 100%;
    padding: 5px;
    background-color: rgb(53, 0, 128);
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#modal:not(:target){
    display: none;
}