*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: brown;
    padding: 10px;
    padding-right: 300px;
    color: white;
}

