*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    background-color: rgb(58, 4, 108);
    padding: 10px;
    padding-right: 300px;
    color: white;
}

footer{
    background-color: rgb(40, 57, 74);
    color: rgb(150, 161, 168);
    margin-top: 393px;
    font-size: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-top-left{
    margin-top: -20px;
}

.footer-top-left-title{
    color: rgb(0, 145, 255);
}

.footer-top-left-context{
    margin-top: 10px;
}

.footer-top-right{
    display: flex;
    margin-top: 60px;
    margin-right: 70px;
    gap: 150px;
    line-height: 40px;
}

.title{
    color: white;
    margin-bottom: 10px;
}

hr{
    margin-top: 30px;
    border: 1px solid rgb(68, 85, 96);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
    padding: 10px;
}

.footer-bottom-left{
    margin-bottom: 10px;
}

.footer-bottom-right{
    margin-bottom: 20px;
}

.footer-copyright{
    color: rgb(104, 114, 125);
}