*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: #2a1510;
    background-color: #fcf8f5;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 115px;
    margin-bottom: 70px;
    gap: 45px;
}

.title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 35px;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    gap: 30px;
}

.item > img{
    width: 330px;
    height: 320px;
    border-radius: 15px;
}

.item-add{
    margin-bottom: 35px;
}

.add-btn{
    position: absolute;
    margin-top: -30px;
    margin-left: 65px;
    width: 200px;
    height: 50px;
    border: 2px solid #91726b;
    border-radius: 30px;
    background-color: white;
    display: flex;
    line-height: 25px;
    padding: 10px;
    padding-left: 35px;
    font-size: 16px;
    gap: 10px;
}

.add-btn > img{
    width: 25px;
    height: 25px;
}

.item-info{
    line-height: 30px;
}

.item-menu{
    font-weight: 300;
}

.item-name{
    font-weight: 700;
}

.item-price{
    color: #b23716;
    font-weight: 600;
}



.cart-count{
    color: #b23716;
    font-weight: 700;
}

.cart{
    background-color: white;
    box-shadow: 0px 4px lightgray;
    padding: 35px;
    width: 460px;
    border-radius: 15px;
}

.cart-drop{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.cart-drop img{
    width: 150px;
}

.drop-txt{
    font-weight: 600;
}

.item-menu, .drop-txt{
    color: #91726b;
}