*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

.services-container{
    margin: auto;
    width: 1000px;
    margin-top: 300px;
    text-align: center;
    background-color: white;
    padding: 10px;
}



.services-list{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 100px;
    gap: 10px;
}