*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(40, 41, 68);
}

.services-container{
    margin: auto;
    width: 900px;
    margin-top: 250px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

.services-title{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 26px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 195px;
    gap: 20px;
}

.service{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 7px darkgrey;
}

.service-header{
    line-height: 40px;
}

.service-title{
    font-size: 18px;
}

.service-txt{
    font-size: 10px;
    color: grey;
}

.about-btn{
    border: none;
    border-radius: 35px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
}
